<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/88df38ed5a.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="SchoolMerch.css" />

    <title>School Merch</title>
  </head>
  
  <body>
    <div id="app">
     
  <header>
    <h1>{{ sitename }}</h1>
  </header>
  <main>
     <!-- Sorting Controls -->
     <div class="sort-controls" v-if="showProduct">
      <label>Sort by:
        <select v-model="sortAttribute">
          <option value="subject">Subject</option>
          <option value="location">Location</option>
          <option value="price">Price</option>
          <option value="availableSpaces">Spaces</option>
        </select>
      </label>
      <label>
        <input type="radio" value="asc" v-model="sortOrder" /> Ascending
      </label>
      <label>
        <input type="radio" value="desc" v-model="sortOrder" /> Descending
      </label>
    </div>


    </main>
  </div>
    <script type="text/javascript">
      new Vue({
        el: "#app",
        data: {
          sitename: "School Merch",
          showProduct: true,
          sortAttribute: "subject", // default sorting attribute
          sortOrder: "asc", // default sort order
        }
        })
          </script>
  </body>
</html>
